body {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    padding: 0;
    margin: 0;
}

.container .row div {
    border: solid thin gray;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    font-size: small;
    text-align: center;
}